Repository rojo-rbx/rbx-dom, pull requests merged in 2023-10, with the labels that each got.

#366 Add linting step for rbx_dom_lua
  .github/workflows/luau-lint.yml
  aftman.toml
  rbx_dom_lua/src/EncodedValue.lua
  rbx_dom_lua/src/Error.lua
  rbx_dom_lua/src/base64.lua
  rbx_dom_lua/src/base64.spec.lua
  rbx_dom_lua/src/customProperties.lua
  rbx_dom_lua/src/init.lua
  rbx_dom_lua/src/init.spec.lua
  selene.toml
Labels: module: rbx_dom_lua

#365 Fix saying CFrame components are XVector, YVector, and ZVector
  docs/binary.md
Labels: module: spec

#368 Update database to v596
  rbx_dom_lua/src/allValues.json
  rbx_dom_lua/src/database.json
  rbx_reflection_database/CHANGELOG.md
  rbx_reflection_database/database.msgpack
Labels: module: reflection database

#370 Use ScriptEditorService for updating Source
  patches/lua-source-container.yml
  rbx_dom_lua/src/customProperties.lua
  rbx_dom_lua/src/database.json
  rbx_reflection_database/CHANGELOG.md
  rbx_reflection_database/database.msgpack
  rbx_types/src/attributes/writer.rs
Labels: module: reflection database

#371 Add fallback default for SecurityCapabilities
  rbx_binary/CHANGELOG.md
  rbx_binary/src/serializer/state.rs
Labels: module: rbx_binary

#372 Remove erroring SecurityCapabilities lua coder/decoder
  rbx_dom_lua/src/EncodedValue.lua
Labels: module: rbx_dom_lua

#374 Add name validation to rbx_dom_lua Attributes writer
  rbx_dom_lua/src/customProperties.lua
Labels: module: rbx_dom_lua
