Repository rojo-rbx/rbx-dom, pull requests merged in 2024-09, with the labels that each got.

#446 Support setting compression type for rbx_binary and support zstd compression
  rbx_binary/CHANGELOG.md
  rbx_binary/Cargo.toml
  rbx_binary/src/chunk.rs
  rbx_binary/src/lib.rs
  rbx_binary/src/serializer/mod.rs
  rbx_binary/src/serializer/state.rs
Labels: type: enhancement, module: rbx_binary

#450 Override the default value of `WorldPivotData` to be `null`
  patches/model.yml
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__baseplate-566__decoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__baseplate-566__encoded.snap
  rbx_dom_lua/src/database.json
  rbx_reflection_database/CHANGELOG.md
  rbx_reflection_database/database.msgpack
Labels: type: enhancement, module: reflection database

#380 Fix "stream did not contain valid UTF-8" using String::from_utf8_lossy
  rbx_binary/CHANGELOG.md
  rbx_binary/src/deserializer/state.rs
Labels: type: enhancement, module: rbx_xml, module: rbx_binary

#448 rbx_reflection: Superclass Iterator
  rbx_reflection/CHANGELOG.md
  rbx_reflection/src/database.rs
  rbx_reflection_database/src/lib.rs
Labels: type: enhancement, module: rbx_reflection
