Repository rojo-rbx/rbx-dom, pull requests merged in 2024-11, with the labels that each got.

#471 Don't bail for MaterialColors and Attributes parse failures
  rbx_binary/src/deserializer/error.rs
  rbx_binary/src/deserializer/state.rs
  rbx_dom_lua/src/Error.lua
  rbx_dom_lua/src/customProperties.lua
  rbx_xml/src/conversion.rs
  rbx_xml/src/deserializer.rs
  rbx_xml/src/serializer.rs
Labels: module: rbx_xml, module: rbx_binary, module: rbx_dom_lua

#472 Don't bail on attempt to reflect unknown serialized data types
  rbx_reflector/src/cli/generate.rs
Labels: module: rbx_reflector

#470 Implement enum attributes
  docs/attributes.md
  rbx_binary/src/serializer/state.rs
  rbx_binary/src/tests/models.rs
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__folder-with-enum-attribute__decoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__folder-with-enum-attribute__encoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__folder-with-enum-attribute__input.snap
  rbx_dom_lua/src/EncodedValue.lua
  rbx_dom_lua/src/allValues.json
  rbx_dom_lua/test
  rbx_reflector/src/cli/values.rs
  rbx_types/CHANGELOG.md
  rbx_types/src/attributes/error.rs
  rbx_types/src/attributes/reader.rs
  rbx_types/src/attributes/type_id.rs
  rbx_types/src/attributes/writer.rs
  rbx_types/src/basic_types.rs
  rbx_types/src/variant.rs
  rbx_xml/src/conversion.rs
  rbx_xml/src/tests/basic.rs
  rbx_xml/src/tests/models.rs
  rbx_xml/src/tests/snapshots/rbx_xml__tests__folder-with-enum-attribute__decoded.snap
  rbx_xml/src/tests/snapshots/rbx_xml__tests__folder-with-enum-attribute__roundtrip.snap
Labels: module: rbx_types

#479 Re-export AHashMap and give it a trait extension
  rbx_dom_weak/CHANGELOG.md
  rbx_dom_weak/src/dom.rs
  rbx_dom_weak/src/lib.rs
Labels: module: rbx_dom_weak
