Repository rojo-rbx/rbx-dom, pull requests merged in 2024-02, with the labels that each got.

#386 Implement IntoIterator for &Attributes and Extend for Attributes
  rbx_types/CHANGELOG.md
  rbx_types/src/attributes/mod.rs
Labels: type: enhancement, module: rbx_types

#388 Document Enum attributes in spec document
  docs/attributes.md
Labels: module: spec

#392 Add rbx_dom_lua OptionalCFrame codec
  README.md
  rbx_dom_lua/src/EncodedValue.lua
  rbx_dom_lua/src/allValues.json
  rbx_reflector/src/cli/values.rs
Labels: module: rbx_dom_lua, module: rbx_reflector

#394 Remove PrimaryPart conditional in WorldPivotData custom setter
  rbx_dom_lua/src/customProperties.lua
Labels: module: rbx_dom_lua
