Repository rojo-rbx/rbx-dom, pull requests merged in 2024-10, with the labels that each got.

#455 Support ContentId in rbx_reflector and rbx_xml
  rbx_reflector/src/cli/generate.rs
  rbx_xml/CHANGELOG.md
  rbx_xml/src/tests/snapshots/rbx_xml__tests__formatting__serialized.snap
  rbx_xml/src/types/content.rs
  rbx_xml/src/types/mod.rs
Labels: module: rbx_xml, module: rbx_reflector

#452 rbx_reflection: has_superclass
  rbx_reflection/CHANGELOG.md
  rbx_reflection/src/database.rs
  rbx_reflection_database/src/lib.rs
Labels: type: enhancement, module: rbx_reflection

#462 Intern property and class names, use UstrMap for properties
  rbx_binary/CHANGELOG.md
  rbx_binary/src/core.rs
  rbx_binary/src/deserializer/state.rs
  rbx_binary/src/serializer/state.rs
  rbx_dom_weak/CHANGELOG.md
  rbx_dom_weak/Cargo.toml
  rbx_dom_weak/src/dom.rs
  rbx_dom_weak/src/instance.rs
  rbx_dom_weak/src/lib.rs
  rbx_dom_weak/src/viewer.rs
  rbx_reflector/src/defaults.rs
  rbx_util/src/remove_prop.rs
  rbx_xml/CHANGELOG.md
  rbx_xml/src/deserializer.rs
  rbx_xml/src/lib.rs
  rbx_xml/src/serializer.rs
  rbx_xml/src/tests/basic.rs
  rbx_xml/src/types/referent.rs
  rbx_xml/src/types/shared_string.rs
Labels: breaking

#459 Patch `Instance.DefinesCapabilities` to alias to `Instance.Sandboxed`
  patches/instance.yml
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__lighting-with-int32-attribute__decoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__lighting-with-int32-attribute__encoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__number-values-with-security-capabilities__decoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__number-values-with-security-capabilities__encoded.snap
  rbx_dom_lua/src/database.json
  rbx_reflection_database/CHANGELOG.md
  rbx_reflection_database/database.msgpack
  rbx_xml/src/tests/snapshots/rbx_xml__tests__lighting-with-int32-attribute__decoded.snap
  rbx_xml/src/tests/snapshots/rbx_xml__tests__lighting-with-int32-attribute__roundtrip.snap
  rbx_xml/src/tests/snapshots/rbx_xml__tests__number-values-with-security-capabilities__decoded.snap
  rbx_xml/src/tests/snapshots/rbx_xml__tests__number-values-with-security-capabilities__roundtrip.snap
Labels: module: reflection database
