Repository rojo-rbx/rbx-dom, changes with the owners that CODEOWNERS names for each.
All owners: @LPGhatguy, @Dekkonot, @Kampfkarren

CODEOWNERS:

* @LPGhatguy

docs/ @LPGhatguy @Dekkonot @Kampfkarren
test-files/ @LPGhatguy @Dekkonot @Kampfkarren
patches/ @LPGhatguy @Kampfkarren

Undo rbx_xml changes
  rbx_reflector/src/defaults.rs
  rbx_xml/Cargo.toml
  rbx_xml/src/core.rs
  rbx_xml/src/deserializer.rs
  rbx_xml/src/lib.rs
  rbx_xml/src/serializer.rs
Owners: @LPGhatguy

Set Scriptability of Scale to Custom and implement Getter for it
  patches/model.yml
  rbx_dom_lua/src/customProperties.lua
  rbx_dom_lua/src/database.json
  rbx_reflection_database/database.msgpack
Owners: @LPGhatguy, @Kampfkarren

Patch ScaleFactor to Scale in reflection database (#252)
  patches/model.yml
  rbx_dom_lua/src/customProperties.lua
  rbx_dom_lua/src/database.json
  rbx_reflection_database/database.msgpack
Owners: @LPGhatguy, @Kampfkarren

Update Database
  rbx_dom_lua/src/database.json
Owners: @LPGhatguy

Add property migration
  generate_reflection/src/property_patches.rs
  patches/screengui.yml
  patches/text-gui.yml
  rbx_binary/src/core.rs
  rbx_binary/src/deserializer/state.rs
  rbx_dom_lua/src/database.json
  rbx_dom_weak/src/instance.rs
  rbx_reflection/Cargo.toml
  rbx_reflection/src/database.rs
  rbx_reflection/src/lib.rs
  rbx_reflection/src/migration.rs
  rbx_reflection_database/database.msgpack
  rbx_types/src/font.rs
  rbx_xml/src/core.rs
  rbx_xml/src/deserializer.rs
  rbx_xml/src/error.rs
Owners: @LPGhatguy, @Kampfkarren

Add tests for migrations
  rbx_binary/src/tests/models.rs
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__gui-inset-and-font-migration__decoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__gui-inset-and-font-migration__encoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__gui-inset-and-font-migration__input.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__three-screengui__decoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__three-screengui__encoded.snap
  rbx_xml/tests/snapshots/test_files__gui_inset_and_font_migration.snap
  rbx_xml/tests/test-files.rs
Owners: @LPGhatguy

Add migration patching instructions
  docs/patching-database.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

MSRV = 1.60.0
  .github/workflows/ci.yml
  README.md
Owners: @LPGhatguy

MSRV = 1.63.0... apparently
  .github/workflows/ci.yml
  README.md
Owners: @LPGhatguy

Implement Font type (#248)
  docs/binary.md
  generate_reflection/src/api_dump.rs
  generate_reflection/src/values.rs
  rbx_binary/CHANGELOG.md
  rbx_binary/src/deserializer/state.rs
  rbx_binary/src/serializer/state.rs
  rbx_binary/src/tests/models.rs
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__text-label-with-font__decoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__text-label-with-font__encoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__text-label-with-font__input.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__three-screengui__decoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__three-screengui__encoded.snap
  rbx_binary/src/text_deserializer.rs
  rbx_binary/src/types.rs
  rbx_dom_lua/src/EncodedValue.lua
  rbx_dom_lua/src/allValues.json
  rbx_dom_lua/src/database.json
  rbx_reflection_database/CHANGELOG.md
  rbx_reflection_database/database.msgpack
  rbx_types/CHANGELOG.md
  rbx_types/src/font.rs
  rbx_types/src/lib.rs
  rbx_types/src/variant.rs
  rbx_xml/CHANGELOG.md
  rbx_xml/src/types/font.rs
  rbx_xml/src/types/mod.rs
  rbx_xml/src/types/numbers.rs
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Make FontWeight::from_u16 and FontStyle::from_u8 return Option
  rbx_binary/src/deserializer/state.rs
  rbx_binary/src/text_deserializer.rs
  rbx_types/src/font.rs
  rbx_xml/src/types/font.rs
Owners: @LPGhatguy

Add test case
  rbx_binary/src/tests/models.rs
Owners: @LPGhatguy

Sort shared strings before assigning ids
  rbx_binary/src/serializer/state.rs
Owners: @LPGhatguy

Update snapshots
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__sharedstring__decoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__sharedstring__encoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__sharedstring__input.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__unions__encoded.snap
Owners: @LPGhatguy

Update changelog
  rbx_binary/CHANGELOG.md
Owners: @LPGhatguy

Add xml test
  rbx_xml/tests/snapshots/test_files__sharedstring.snap
  rbx_xml/tests/test-files.rs
Owners: @LPGhatguy

Make SSTR chunk deterministic (#254)
  rbx_binary/CHANGELOG.md
  rbx_binary/src/serializer/state.rs
  rbx_binary/src/tests/models.rs
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__sharedstring__decoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__sharedstring__encoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__sharedstring__input.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__unions__encoded.snap
  rbx_xml/tests/snapshots/test_files__sharedstring.snap
  rbx_xml/tests/test-files.rs
Owners: @LPGhatguy

Only compile innerput on windows
  rbx_reflector/Cargo.toml
  rbx_reflector/src/cli/defaults_place.rs
Owners: @LPGhatguy

Implement UniqueId as a type
  rbx_types/src/lib.rs
  rbx_types/src/unique_id.rs
  rbx_types/src/variant.rs
Owners: @LPGhatguy

Add UniqueId support for rbx_binary
  rbx_binary/src/core.rs
  rbx_binary/src/deserializer/state.rs
  rbx_binary/src/serializer/state.rs
  rbx_binary/src/tests/mod.rs
  rbx_binary/src/tests/places.rs
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__baseplate-566__decoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__baseplate-566__encoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__baseplate-566__input.snap
  rbx_binary/src/text_deserializer.rs
  rbx_binary/src/types.rs
Owners: @LPGhatguy

Implement UniqueId for rbx_xml
  rbx_xml/src/types/mod.rs
  rbx_xml/src/types/unique_id.rs
  rbx_xml/tests/basic.rs
Owners: @LPGhatguy

Enable yaml feature in rbx_xml
  rbx_xml/Cargo.toml
Owners: @LPGhatguy

Derive Eq for UniqueId
  rbx_types/src/unique_id.rs
Owners: @LPGhatguy

Update changelogs for rbx_types, rbx_xml, and rbx_binary
  rbx_binary/CHANGELOG.md
  rbx_types/CHANGELOG.md
  rbx_xml/CHANGELOG.md
Owners: @LPGhatguy

Clean up chunk section + document zstd compression
  docs/binary.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Document Bytecode data type
  docs/binary.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

List Bytecode in README
  README.md
Owners: @LPGhatguy

Add Bytecode type to table of contents
  docs/binary.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Remove quotes around `ZSTD "frame"`
  docs/binary.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Specify that ExplicitAutoJoints is set for models only and that it's always true
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Rephrase description of roblox element
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Elaborate on how a property may or may not be (de)serialized
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Specify that Roblox evidently follows MIME base64 standards (cool)
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Refine Color3uint8 description
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Document ZSTD compression and Bytecode data type in binary spec file (#258)
  README.md
  docs/binary.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren
