Repository rojo-rbx/rbx-dom, changes with the owners that CODEOWNERS names for each.
All owners: @LPGhatguy, @Dekkonot, @Kampfkarren

CODEOWNERS:

* @LPGhatguy

docs/ @LPGhatguy @Dekkonot @Kampfkarren
test-files/ @LPGhatguy @Dekkonot @Kampfkarren
patches/ @LPGhatguy @Kampfkarren

Fill out xml spec file more
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Fill out xml spec the rest of the way
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Fill out examples in xml spec
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Unalive Vector2int16
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Add support for loading and applying patches
  patches/csg.yml
  rbx_reflector/Cargo.toml
  rbx_reflector/src/cli/generate.rs
  rbx_reflector/src/main.rs
  rbx_reflector/src/patches.rs
Owners: @LPGhatguy, @Kampfkarren

Document Optional type in XML spec document
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Remove disclaimer that xml spec file is incomplete :-D
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Correct semantic errors in xml spec
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Make XML spec at least compatibile with RFC 2119
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Redo File Structure section of xml spec
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Become more certain about the XML file format
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Another pass at xml spec cleanup
  docs/xml.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Add custom reflection database parameter to rbx_xml
  rbx_xml/Cargo.toml
  rbx_xml/src/core.rs
  rbx_xml/src/deserializer.rs
  rbx_xml/src/lib.rs
  rbx_xml/src/serializer.rs
Owners: @LPGhatguy

Apply defaults in generate command
  rbx_reflector/Cargo.toml
  rbx_reflector/src/api_dump.rs
  rbx_reflector/src/cli/generate.rs
  rbx_reflector/src/defaults.rs
  rbx_reflector/src/main.rs
  rbx_reflector/src/studio_api_dump.rs
Owners: @LPGhatguy

Remove compute defaults command
  rbx_reflector/src/cli/mod.rs
Owners: @LPGhatguy

Generate the studio version
  rbx_reflector/Cargo.toml
  rbx_reflector/plugin/main.lua
  rbx_reflector/src/cli/generate.rs
  rbx_reflector/src/main.rs
  rbx_reflector/src/plugin_injector.rs
Owners: @LPGhatguy

Use flags and make patches optional
  rbx_reflector/src/cli/defaults_place.rs
  rbx_reflector/src/cli/generate.rs
Owners: @LPGhatguy

Remove accidental static
  rbx_xml/src/lib.rs
Owners: @LPGhatguy

Fix typo in binary.md
  docs/binary.md
Owners: @LPGhatguy, @Dekkonot, @Kampfkarren

Fix font weight casing
  rbx_types/src/font.rs
Owners: @LPGhatguy

Remove unused constructor
  rbx_types/src/font.rs
Owners: @LPGhatguy

Fix snapshot tests for PascalCase fonts
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__text-label-with-font__decoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__text-label-with-font__encoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__text-label-with-font__input.snap
Owners: @LPGhatguy

Don't cast around u16 for xml
  rbx_xml/src/types/font.rs
  rbx_xml/src/types/numbers.rs
Owners: @LPGhatguy

Remote Other for Font Weight and Style
  rbx_types/src/font.rs
  rbx_xml/src/types/font.rs
Owners: @LPGhatguy

Fix camelCase attribute on FontStyle
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__text-label-with-font__decoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__text-label-with-font__encoded.snap
  rbx_binary/src/tests/snapshots/rbx_binary__tests__util__text-label-with-font__input.snap
  rbx_types/src/font.rs
Owners: @LPGhatguy

Add PR changes to CHANGELOG files
  rbx_binary/CHANGELOG.md
  rbx_reflection_database/CHANGELOG.md
  rbx_types/CHANGELOG.md
  rbx_xml/CHANGELOG.md
Owners: @LPGhatguy

Fix Font types from being excluded
  generate_reflection/src/api_dump.rs
Owners: @LPGhatguy

Update database to reflect Font inclusion
  rbx_dom_lua/src/allValues.json
  rbx_dom_lua/src/database.json
  rbx_reflection_database/database.msgpack
Owners: @LPGhatguy

Use if...else
  rbx_dom_lua/src/EncodedValue.lua
Owners: @LPGhatguy

Fix minor formatting
  rbx_types/src/font.rs
Owners: @LPGhatguy

to_x -> as_x
  rbx_binary/src/serializer/state.rs
  rbx_types/src/font.rs
  rbx_xml/src/types/font.rs
Owners: @LPGhatguy

Use new FullAPI dump
  patches/body-movers.yml
  patches/camera.yml
  patches/csg.yml
  patches/fire-and-smoke.yml
  patches/instance.yml
  patches/joint-instance.yml
  patches/localization-table.yml
  patches/package-link.yml
  patches/parts.yml
  patches/players.yml
  patches/sound.yml
  patches/weld-constraint.yml
  patches/workspace.yml
  rbx_reflection/src/property_tag.rs
  rbx_reflector/src/api_dump.rs
  rbx_reflector/src/cli/dump.rs
  rbx_reflector/src/cli/generate.rs
  rbx_reflector/src/defaults.rs
  rbx_reflector/src/patches.rs
Owners: @LPGhatguy, @Kampfkarren

Use web api instead of plugin to get version
  out.json
  rbx_reflector/Cargo.toml
  rbx_reflector/plugin/main.lua
  rbx_reflector/src/cli/generate.rs
  rbx_reflector/src/main.rs
  rbx_reflector/src/plugin_injector.rs
  rbx_reflector/src/studio_version.rs
Owners: @LPGhatguy

Delete accidental file
  out.json
Owners: @LPGhatguy

Remove unused dependencies
  rbx_reflector/Cargo.toml
Owners: @LPGhatguy

Remove patch property additions
  rbx_reflector/src/patches.rs
Owners: @LPGhatguy

Fix Instance.Attributes and Instance.Tags DataType
  patches/instance.yml
  rbx_reflector/src/patches.rs
Owners: @LPGhatguy, @Kampfkarren

Use innerput to save defaults place automatically
  patches/localization-table.yml
  rbx_reflector/Cargo.toml
  rbx_reflector/plugin.lua
  rbx_reflector/src/cli/defaults_place.rs
Owners: @LPGhatguy, @Kampfkarren

Use env_logger
  rbx_reflector/Cargo.toml
  rbx_reflector/src/cli/defaults_place.rs
  rbx_reflector/src/defaults.rs
  rbx_reflector/src/main.rs
Owners: @LPGhatguy

Patch ScaleFactor in reflection database * Adds ScaleFactor via reflection patch * Marks Scale as alias for ScaleFactor * Add custom setter and no getter for Scale
  patches/model.yml
  rbx_dom_lua/src/customProperties.lua
  rbx_dom_lua/src/database.json
  rbx_reflection_database/database.msgpack
Owners: @LPGhatguy, @Kampfkarren
